<!DOCTYPE html>
<html>

    <head>
        <title>The Jurong Pioneer Salon</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/members.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src = "{{ url_for('static', filename = 'members.js') }}"></script>
        <script src = "{{ url_for('static', filename = 'success-animation.js') }}"></script>
    </head>

    <body>
        <nav id = "sidebar">
            <div id = "sidebarLogo">
                <div class = "sidebarLogoText">THE</div>
                <div class = "sidebarLogoTextJP">
                    <div class = "sidebarLogoText" id = "sidebarLogoJurong">JURONG</div>
                    <div class = "sidebarLogoText" id = "sidebarLogoPioneer">PIONEER</div>
                </div>
                <div class = "sidebarLogoText">SALON</div>
            </div>
            <div>
                <img src = "{{ url_for('static', filename = 'overview.png') }}" id = "sidebarOverviewImage" class = "sidebarImages">
                <form method = "POST" action = "{{ url_for('index') }}">
                    <button id = "sidebarOverview" class = "sidebarButtons">Overview</button>
                </form>
            </div>
            <div>        
                <img src = "{{ url_for('static', filename = 'transactions.png') }}" id = "sidebarTransactionsImage" class = "sidebarImages">
                <form method = "POST" action = "{{ url_for('transactions') }}">
                    <button id = "sidebarTransactions" class = "sidebarButtons">Transactions</button>
                </form>
            </div>
            <div>        
                <img src = "{{ url_for('static', filename = 'members.png') }}" id = "sidebarMembersImage" class = "sidebarImages">
                <form method = "POST" action = "{{ url_for('members') }}">
                    <button id = "sidebarMembers" class = "sidebarButtons">Members</button>
                </form>
            </div>
        </nav>
        <div>
            <div class = "bodyHeadText">Members List</div>
            <form action = "{{ url_for('newMember') }}" method = "GET">
                <img id = "membersNewRecordImage" src = "{{ url_for('static', filename = 'new.png') }}">
                <button id = "membersNewRecord">New Member</button>
            </form>
            <div id = "membersHeader">
                <div class = "membersHeaderClass">ID</div>
                <div class = "membersHeaderClass">Gender</div>
                <div class = "membersHeaderClass">Phone</div>
                <div class = "membersHeaderClass" id = "membersHeaderServiceTypeText">Name</div>
                <div class = "membersHeaderClass">Membership</div>
            </div>
            <div id = "membersData">
                <div id = "membersHeadSpacer"></div>
                {% for i in finalData %}
                    <div class = "membersRecord">
                        <div class = "membersRecordValues membersRecordID">{{ i[0] }}</div>
                        <div class = "membersRecordValues membersRecordGender">{{ i[1] }}</div>
                        <div class = "membersRecordValues membersRecordPhone">{{ i[2] }}</div>
                        <div class = "membersRecordValues membersRecordName">{{ i[3] }}</div>
                        <div class = "membersRecordValues membersRecordMembership">{{ i[4] }}</div>
                    </div>
                {% endfor %}
                <div id = "membersEndSpacer"></div>
            </div>
        </div>
        <div class = "successfullyUpdatedDatabase"></div>
        <p class = "successfullyUpdatedDatabaseText">Member Successfully Added!</p>
        <div class = "invisibleSuccess">{{ redirect }}</div>
    </body>

</html>