#transactionsHeader {
    display: flex;
    margin-left: 440px;
    margin-top: 60px;
}

.transactionsHeaderClass {
    padding-right: 90px;
}

#transactionsHeaderServiceTypeText {
    padding-right: calc(100vw - 1230px + 90px);
}

#transactionsData {
    width: calc(100vw - 450px);
    height: calc(100vh - 380px);
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
    margin-left: 390px;
    margin-top: 20px;
    overflow-y: scroll;
}

#transactionsData::-webkit-scrollbar {
    width: 20px;
}

#transactionsData::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-radius: 25px;
    border: 8px solid #101010;
}

.transactionsRecord {
    display: flex;
    text-align: center;
    height: 75px;
    border: 1px solid #7a7a7a;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.2s;
    /* cursor: pointer; */
    background-color: #101010;
}

.transactionsRecord:hover {
    transition: 0.2s;
    background-color: #9c5c00;
    border: 1px solid #9c5c00;
}

.transactionsRecordTXID {
    width: 115px;
}

.transactionsRecordDate {
    width: 105px;
}

.transactionsRecordMember {
    width: 195px;
}

.transactionsRecordService {
    /* padding-right: calc(100vw - 1300px + 90px); */
    width: calc(100vw - 1060px);
    text-align: left;
    padding-left: 35px;
}

.transactionsRecordPrice {
    width: 100px;
}

.transactionsRecordValues {
    padding-top: 27px;
}

#transactionsHeadSpacer {
    height: 10px;
}

#transactionsEndSpacer {
    height: 30px;
}

#transactionsNewRecord {
    margin-left: calc(100vw - 250px);
    position: absolute;
    width: 170px;
    text-align: right;
    border: 1px solid #101010;
    border-radius: 25px;
    height: 50px;
    padding-right: 25px;
    margin-top: -35px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

#transactionsNewRecord:hover, #transactionsNewRecordImage:hover ~ #transactionsNewRecord {
    background-color: #9c5c00;
    border: 1px solid #9c5c00;
    transition: 0.2s;
}

#transactionsNewRecordImage {
    margin-left: calc(100vw - 230px);
    margin-top: -22px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

#sidebarTransactions {
    background-color: #9c5c00;
}

.invisibleMemberType {
    opacity: 0;
    display: none;
    outline: none;
    width: 0;
    height: 0;
}